<!DOCTYPE html>
<html>
<body>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function() {
            $('button#calculate').bind('click', function() {
                $.getJSON('/predict', {
                    text1: $('textarea[name="text1"]').val(),
                    text2: $('textarea[name="text2"]').val()
                }, function(data) {
                    console.log(data)

                    if (data.pred_class == 1){
                        $("#pred_result").text("Diff User");
                    }
                    else if(data.error_msg){
                        $("#pred_result").text(data.error_msg);
                    }
                    else{
                    $("#pred_result").text("Same User");
                    }
                    $("#same_user_prob").text("Same User Prob: "+ data.same_user_prob)
                    $("#diff_user_prob").text("Diff User Prob: "+ data.diff_user_prob)

                    if(data.lang == "sv"){
                        $("#lang").text("Language: "+ "Swedish")
                    }
                            if(data.lang == "en"){
                        $("#lang").text("Language: "+ "English")
                    }

                    }
                );
                return false;
            });
        });
    </script>
    <script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $(".sidebar-middle").hide();
        }
// ]]></script>
</head>

{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="form-group">
                <label for="text1">Text 1:</label>
                <textarea class="form-control" rows="5" name="text1" id = "text1"></textarea>
                <p></p>
                <label for="text2">Text 2:</label>
                <textarea class="form-control" rows="5" name="text2" id = "text2"></textarea>
                <p></p>
                <button class = "btn btn-success" id="calculate" onclick="loading();">Compare</button>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-12">
                    <div class="sidebar-top centered">
                        <img src="/static/images/AliasSensorLogo.png"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="loading"></div>
                    <div class="sidebar-middle centered">
                        <p id="pred_result" class="centered"></p>
                        <p id="same_user_prob" class="centered"></p>
                        <p id="diff_user_prob" class="centered"></p>
                        <p id="lang" class="centered"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 hidden-xs">
                    <div class="sidebar-bottom"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <!--<div class="browseFile btn btn-default">-->
                <!--<label>-->
                    <!--<input type="file" hidden>-->
                <!--</label>-->
            <!--</div>-->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="footer">
                <p class="text-right"> &copy; Copyright 2018 Alias Sensor</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
</body>
</html>

